<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidjp.lib_baidu_asr">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">


        <activity
            android:name=".settings.Setting"
            android:label="设置"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:theme="@android:style/Theme.DeviceDefault.Light"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.baidu.speech.asr.demo.setting" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
